.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  top: 55px;
  background-color: white;
  z-index: 100;
  padding-top: 5px;
}

.sidebar_link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar_link:hover{
  background-color: rgb(235, 235, 235);
}

.sidebar_link img{
  height: 25px;
  width: 25px;
  margin-bottom: 4px;;
}

.sidebar_link div{
  font-family: Arial;
  font-size: 10px;
}