.thumbnail{
  width: 100%;
  display: block;
}

.video_author{
  margin-bottom: 4px;
}

.video_author,
.video_stat{
  display: block;
  font-size: 12px;
  color: rgb(96,96,96);
}

.video_info_grid{
  display: grid;
  grid-template-columns:50px 1fr;
}

.channel_pic{
}

.profile_pic{
  width:36px;
  border-radius: 50px;
}

.video_info{
}

.video_title{
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 10px;
}

.thumbnail_row{
  margin-bottom: 8px;
  position: relative;
}

.video_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video_grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px)
{
  .video_grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px)
{
  .video_grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video_time{
  font-family: Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  color: white;
  background-color: black;
  position: absolute;
  bottom: 8px;
  right: 8px;
}